.splash {
  margin-top: -65px;
  position: relative;
}

.splash-img {
  max-height: 100vh;
  min-width: 100vw;
}

.main-splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}
